# Loading model

In [1]:
from run_mellotron import *
model = init_model()

WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

/home/mathi/.local/lib/python3.6/site-packages/torch/serialization.py:593: SourceChangeWarning: source code of class 'glow.WaveGlow' has changed. you can retrieve the original source code by accessing the object's source attribute or set `torch.nn.Module.dump_patches = True` and use the patch tool to revert the changes.
  warnings.warn(msg, SourceChangeWarning)
/home/mathi/.local/lib/python3.6/site-packages/torch/serialization.py:593: SourceChangeWarning: source code of class 'torch.nn.modules.container.ModuleList' has changed. you can retrieve the original source code by accessing the object's source attribute or set `torch.nn.Module.dump_patches = True` and use the patch tool to revert the changes.
  warnings.warn(msg, SourceChangeWarning)
/home/mathi/.local/lib/python3.6/site-packages/torch/serialization.py:593: SourceChangeWarning: source code of class 'glow.Invertible1x1Conv' has changed. you can retrieve the original source code by accessing the object's source attribute or set `torch.nn.Module.dump_patches = True` and use the patch tool to revert the changes.
  warnings.warn(msg, SourceChangeWarning)

In [21]:
import pandas as pd
good_speakers = pd.read_csv("mellotron/filelists/libritts_train_clean_100_audiopath_text_sid_atleast5min_val_filelist.txt",sep="|")
speakers_info = pd.read_csv("mellotron/filelists/libritts_speakerinfo.txt",sep="|")
speakers_info = speakers_info[["ID","SEX","NAME"]].merge(good_speakers[["ID"]],on="ID",how="left").copy()
speakers_info[speakers_info["SEX"] == "M"].head()

    ID SEX           NAME
2   17   M  GordMackenzie
7   25   M   JohnGonzalez
8   26   M    DennySayers
9   27   M   SeanMcKinley
11  29   M         Linton

In [22]:
speakers_info[speakers_info["SEX"] == "F"].head()

   ID SEX              NAME
0  14   F    KristinLeMoine
1  16   F     AlysAtteWater
3  19   F   KaraShallenberg
4  20   F            Gesine
5  22   F  MichelleCrandall

# Using source audio

In [ ]:
text = "I like that"
audio = synthesize2(model, "audios/ilikethat.wav", text, 25, 25)

audios/ilikethat.wav I like that

In [3]:
text = "You and I have history Or don't you remember Sure, she's got it all"
audio = synthesize2(model, "audios/rumourhasit.wav", text, 4706, 118)

audios/rumourhasit.wav You and I have history Or don't you remember Sure, she's got it all

In [5]:
text = "sweet dreams are made of this friendly assistance who are cat to please"
audio = synthesize2(model, "audios/sweetdreams.wav", text, 118, 118)

audios/sweetdreams.wav sweet dreams are made of this friendly assistance who are cat to please

mellotron/yin.py:44: RuntimeWarning: invalid value encountered in true_divide
  cmndf = df[1:] * range(1, N) / np.cumsum(df[1:]).astype(float) #scipy method

# Using musicXML

In [1]:
filename = "musicXML/last_voice_processed_4.xml"
synthesize1(filename, model, bpm=80, speaker_id=i, outname=f"sample.wav")